* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*::-moz-selection {
  background-color: var(--page-text);
  color: var(--page-bg);
}

*::selection {
  background-color: var(--page-text);
  color: var(--page-bg);
}

:root {
  --blackpure: #000;
  --gray-border: #D3D3D3;
  --page-bg: #F8F8F8;
  --page-text: #262626;
  --purple: #644BB1;
  --lato: 'Roboto', 'Lato', sans-serif;
}

::marker {
  font-size: 0;
}

body {
  position: relative;
  background: var(--page-bg);
}

a, a:focus, a:hover, a:active {
  text-decoration: none;
}

h1, p {
  margin: 0;
}

button, button:focus, button:hover, button:active {
  outline: 0;
  border: none;
  cursor: pointer;
}

.container { 
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 60px;
}

.main {
  padding-top: 60px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  -moz-transition: visibility 0.3s linear, opacity 0.3s linear;
  -ms-transition: visibility 0.3s linear, opacity 0.3s linear;
  -o-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.overlay.active {
  opacity: 0.4;
  visibility: visible;
}

/* start buttons */

.button__project {
  padding: 14.5px 26.5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  color: var(--page-text);
  background-color: var(--page-bg);
  border-radius: 30px;
  border: 1px solid var(--gray-border);
  -webkit-transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
  -moz-transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
  -ms-transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
}

.button__project:hover, .button__project:focus, .button__project:active {
  color: var(--page-bg);
  background-color: var(--purple);
  border: 1px solid var(--purple);
}

.button__language {
  width: 60px;
  height: 59px;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  color: var(--page-text);
  background: var(--page-bg);
}

.button__circle {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--page-text);
  position: relative;
  -webkit-transform: rotate(-23.91deg);
  -moz-transform: rotate(-23.91deg);
  -ms-transform: rotate(-23.91deg);
  -o-transform: rotate(-23.91deg);
  transform: rotate(-23.91deg);
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button__circle:hover {
  background-color: var(--purple);
}

.button__circle span {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--page-bg);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* end buttons */

/* start header */

.header {
  height: 60px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid var(--gray-border);
  background: var(--page-bg);
  z-index: 1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__anchor_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.header__anchor_link {
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  color: var(--page-text);
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header__anchor_link:hover {
  color: var(--purple);
}

.header__project {
  position: absolute;
  right: 159px;
}

.header__languages {
  border-left: 1px solid var(--gray-border);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  padding: 80.34px 21.17px 30px 70px;
  flex-direction: column;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background: var(--page-bg);
  z-index: 99;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -ms-transition: -ms-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
  overflow-y: scroll;
}

.header__nav.active {
  visibility: visible;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.header__nav::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.header__nav::-webkit-scrollbar-thumb {
  width: 8px;
  background: var(--page-text);
}

.header__nav_burger_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.header__burger, .header__nav_burger {
  display: block;
  width: 60px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 50px;
  z-index: 2;
}

.header__burger {
  width: 61px;
  height: 59px;
  padding: 28px 17px 27px 18px;
  position: relative;
  top: 0;
  left: 0;
  background: var(--page-bg);
  border-right: 1px solid var(--gray-border);
}

.header__burger:hover, .header__burger:focus, .header__burger:active {
  background: var(--page-bg);
  border-right: 1px solid var(--gray-border);
}

.header__nav_burger {
  top: 29.17px;
}

.header__burger svg {
  width: 25px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: var(--page-text);
}

.header__nav_burger svg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  fill: #000;
}

/* end header */

/* start digital */

.digital__container {
  display: flex;
  padding: 0 60px 0 0;
  justify-content: space-between;
  position: relative;
}

.digital__info {
  display: flex;
  width: 100%;
  padding: 200px 99px 173px;
  justify-content: center;
  align-items: flex-end;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.digital__empty {
  width: 60px;
  flex: 0 0 auto;
  border-bottom: 1px solid var(--gray-border);
  position: absolute;
  bottom: 0;
  right: 0;
}

.digital__head {
  max-width: 905px;
  font-size: 92px;
  font-weight: 800;
  line-height: 112px;
  color: var(--page-text);
}

.digital__desc {
  max-width: 473px;
  font-family: var(--lato);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: var(--page-text);
  -webkit-transform: translate(-188px, -48px);
  -moz-transform: translate(-188px, -48px);
  -ms-transform: translate(-188px, -48px);
  -o-transform: translate(-188px, -48px);
  transform: translate(-188px, -48px);
}

.digital__anyera {
  width: 60px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.digital__anyera_name {
  margin: 47px 0 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  writing-mode: vertical-rl;
  color: var(--page-text);
}

/* end digital */

/* start showreel */

.showreel__block {
  min-height: 272px;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.showreel__circle {
  display: flex;
  max-width: 1415px;
  margin: auto;
  justify-content: flex-end;
}

.showreel__button {
  -webkit-transform: rotate(-23.91deg) translateY(-110px);
  -moz-transform: rotate(-23.91deg) translateY(-110px);
  -ms-transform: rotate(-23.91deg) translateY(-110px);
  -o-transform: rotate(-23.91deg) translateY(-110px);
  transform: rotate(-23.91deg) translateY(-110px);
}

/* end showreel */

/* start development */

.development__block {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.development__left {
  width: 100%;
  border-right: 1px solid var(--gray-border);
}

.development__right {
  max-width: 565px;
}

.development__left, .development__right {
  padding: 120px 100px;
}

.development__head {
  font-size: 40px;
  font-weight: 800;
  line-height: 49px;
  color: var(--page-text);
}

.development__list {
  display: flex;
  gap: 60px;
}

.development__item {
  margin: 60px 0 0;
}

.development__item, .development__item a, .development__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.development__desc strong, .development__desc b  {
  font-family: var(--lato);
  font-weight: 400;
  color: var(--page-text);
}

.development__buttons {
  display: flex;
  margin: 60px 0 0;
  align-items: center;
  gap: 30px;
}

.development__button {
  padding: 14.5px 43.5px;
}

.development__buttons_desc {
  font-family: var(--lato);
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  color: var(--page-text);
}

/* end development */

/* start design */

.design .development__block {
  flex-direction: row-reverse;
}

.design .development__left {
  width: 100%;
  border-right: 0;
  border-left: 1px solid var(--gray-border);
}

.design .development__right {
  width: 100%;
  max-width: 654px;
}

/* end design */

/* start design */

.analytics__block {
  display: flex;
  align-items: stretch;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.analytics__info {
  width: 100%;
  min-width: 655px;
  padding: 120px 100px;
}

.analytics__info:last-child {
  display: flex;
  min-width: auto;
  flex-direction: column;
  justify-content: center;
}

.analytics__info:not(:last-child) {
  border-right: 1px solid var(--gray-border);
}

.analytics__head {
  margin: 0 0 60px;
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: var(--page-text);
}

.analytics__item:not(:last-child) {
  margin: 0 0 30px;
}

.analytics__item, .analytics__item a {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.analytics__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.analytics__desc strong, .analytics__desc b {
  font-family: var(--lato);
  font-weight: 400;
  color: var(--page-text);
}

.analytics__buttons {
  display: flex;
}

.analytics__button {
  margin: 46px auto 0;
  padding: 14.5px 46px;
}

/* end design */

/* start publications */

.publications__block {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.publications__info {
  display: flex;
  width: 33.333%;
  padding: 100px;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-border);
}

.publications__info:first-child {
  justify-content: flex-start;
}

.publications__info:last-child {
  justify-content: center;
}

.publications__info:not(:nth-child(3n)) {
  border-right: 1px solid var(--gray-border);
}

.publications__info:nth-last-child(1), .publications__info:nth-last-child(2), .publications__info:nth-last-child(3) {
  border-bottom: 0;
}

.publications__head {
  margin: 0 0 40px;
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: var(--page-text);
}

.publications__heading {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--page-text);
}

.publications__buttons {
  display: flex;
}

.publications__button {
  margin: 0 auto;
  padding: 14.5px 46.5px;
}

.publications__hashtags {
  display: flex;
  margin: 0 0 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.publications__hashtag {
  font-size: 6px;
  font-weight: 500;
  line-height: 7px;
  color: var(--page-text);
}

.publications__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.publications__date {
  margin: 20px 0 0;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: var(--page-text);  
}

/* end publications */

/* start say */

.say__container {
  display: flex;
  padding: 0 60px 0 0;
  position: relative;
}

.say__public {
  width: 60px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.say__public_name {
  margin: 0 0 91px;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  writing-mode: vertical-rl;
  color: var(--page-text);
}

.say__block {
  display: flex;
  width: 100%;
  padding: 88px 100px 50px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
}

.say__head {
  margin: 0 0 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: var(--page-text);
}

.say__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

/* end say */

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
}

@media (max-width: 580px) {
}