* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

*::-moz-selection {
  background-color: var(--page-text);
  color: var(--page-bg);
}

*::selection {
  background-color: var(--page-text);
  color: var(--page-bg);
}

*::marker {
  font-size: 0;
}

:root {
  --gray-border: #D3D3D3;
  --dark-border: #545454;
  --page-bg: #F8F8F8;
  --page-text: #262626;
  --purple: #644BB1;
  --red: #A20109;
  --error: #D91717;
  --green: #0FE397;
  --gray: #303337;
  --aquamarine: #5C7E88;
  --blue: #526DD4;
  --cherry: #9B1E21;
  --dark-blue: #2B5090;
  --lato: 'Roboto', 'Lato', sans-serif;
}

.dark {
  /* Dark mode */
  --page-bg: #262626;
  --page-text: #F8F8F8;
  --purple: #0FE397;
  --gray-border: var(--dark-border);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  position: relative;
  background: var(--page-bg);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--page-text);
  -webkit-box-shadow: 0 0 0px 1000px var(--page-bg) inset;
  color: var(--page-text);
  box-shadow: 0 0 0px 1000px var(--page-bg) inset;
}

a {
  color: var(--page-text);
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: var(--purple);
  text-decoration: none;
}

h1, p {
  margin: 0;
}

button, button:focus, button:hover, button:active {
  outline: 0;
  border: none;
  cursor: pointer;
}

svg path {
  fill: inherit;
  stroke: inherit;
  stroke-width: inherit;
}

.container { 
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 60px;
}

.main {
  padding-top: 60px;
  flex: 1 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  -moz-transition: visibility 0.3s linear, opacity 0.3s linear;
  -ms-transition: visibility 0.3s linear, opacity 0.3s linear;
  -o-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.overlay.active {
  opacity: 0.4;
  visibility: visible;
}

/* start buttons */

.button__project {
  padding: 14.5px 26.5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  color: var(--page-text);
  background-color: var(--page-bg);
  border-radius: 30px;
  border: 1px solid var(--gray-border);
  -webkit-transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
  -moz-transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
  -ms-transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
  -o-transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
  transition: color 0.3s linear, background-color 0.3s linear, border-color 0.3s linear;
  flex: 0 0 auto;
}

.button__project:hover, .button__project:focus, .button__project:active, .button__project.active {
  color: var(--page-bg);
  background-color: var(--purple);
  border: 1px solid var(--purple);
}

.dark .button__project:hover, .dark .button__project:focus, .dark .button__project:active, .dark .button__project.active {
  color: var(--purple);
  background-color: var(--page-bg);
  border: 1px solid var(--purple);
}

.button__language {
  width: 60px;
  height: 59px;
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  color: var(--page-text);
  background: var(--page-bg);
}

.button__circle {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--page-text);
  position: relative;
  -webkit-transform: rotate(-23.91deg);
  -moz-transform: rotate(-23.91deg);
  -ms-transform: rotate(-23.91deg);
  -o-transform: rotate(-23.91deg);
  transform: rotate(-23.91deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
  overflow: hidden;
}

.button__circle:hover {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.button__circle_hover {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(102%);
  -moz-transform: translateY(102%);
  -ms-transform: translateY(102%);
  -o-transform: translateY(102%);
  transform: translateY(102%);
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
  background-color: var(--purple);
  z-index: 0;
}

.button__circle:hover .button__circle_hover {
  content: "";
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.button__circle_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--page-bg);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.button__close {
  display: block;
  width: 24px;
  height: 24px;
  padding: 30px;
  border: none;
  background: var(--page-bg);
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
  border-radius: 50%;
}

.button__close:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.button__close svg {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  fill: var(--page-text);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: fill 0.3s linear;
  -moz-transition: fill 0.3s linear;
  -ms-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}

.button__close:hover svg {
  fill: var(--purple);
}

/* end buttons */

/* start header */

.header {
  height: 60px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid var(--gray-border);
  background: var(--page-bg);
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__anchor_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.header__anchor_link {
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  color: var(--page-text);
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.header__anchor_link:hover {
  color: var(--purple);
}

.header__project {
  position: absolute;
  right: 159px;
}

.header__languages {
  border-left: 1px solid var(--gray-border);
}

.header__burger {
  display: block;
  width: 61px;
  height: 59px;
  padding: 28px 17px 27px 18px;
  position: relative;
  top: 0;
  left: 0;
  background: var(--page-bg);
  border-right: 1px solid var(--gray-border);
}

.header__burger:hover, .header__burger:focus, .header__burger:active {
  background: var(--page-bg);
  border-right: 1px solid var(--gray-border);
}

.header__burger svg {
  width: 25px;
  height: 5.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: var(--page-text);
}

.header__burger svg rect {
  -webkit-transition: width 0.3s linear, height 0.3s linear;
  -moz-transition: width 0.3s linear, height 0.3s linear;
  -ms-transition: width 0.3s linear, height 0.3s linear;
  -o-transition: width 0.3s linear, height 0.3s linear;
  transition: width 0.3s linear, height 0.3s linear;
}

.header__burger.active svg rect, .header__burger:hover svg rect {
  width: 25px;
  height: 1px;
}

/* end header */

/* start header__nav */

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  flex-direction: column;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background: var(--page-bg);
  z-index: 99;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.header__nav::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.header__nav::-webkit-scrollbar-thumb {
  display: none;
  width: 0px;
  background: var(--page-text);
}

.header__nav.active {
  visibility: visible;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.header__nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1800px;
  padding: 100px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
}

.header__nav_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.header__nav_list {
  width: 50%;
  position: relative;
}

.header__nav_item {
  width: 50%;
}

.header__nav_item:not(:last-child) {
  margin: 0 0 40px;
}

.header__nav_link {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: var(--page-text);
}

.header__nav_item.active .header__nav_link {
  color: var(--purple);
}

.header__nav_link:not(:last-child) {
  margin: 0 0 40px;
}

.header__subnav_list {
  display: none;
  width: 50%;
  flex-direction: column;
  gap: 49px;
  position: absolute;
  top: 0;
  left: 50%;
}

.header__nav_item.active .header__subnav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__subnav_item {
  transform: translateY(-100%);
  transition: transform 0.3s linear;
}

.header__nav_item.active .header__subnav_item {
  transform: translateY(0%);
}

.header__subnav_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--page-text);
}

.header__nav__contact_list {
  width: 50%;
}

.header__nav_contact_desc {
  margin: 0 0 20px;
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--page-text);
}

.header__nav_contact_link {
  font-size: 56px;
  font-weight: 800;
  line-height: 68px;
  color: var(--page-text);
}

.header__nav_contact_item:not(:last-child) {
  margin: 0 0 100px;
}

.header__nav_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__nav_bottom_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 20px;
}

.header__nav_bottom_icon {
  background: transparent;
}

.header__nav_bottom_icon svg path {
  -webkit-transition: fill 0.3s linear;
  -moz-transition: fill 0.3s linear;
  -ms-transition: fill 0.3s linear;
  -o-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
  fill: var(--gray-border);
}

.header__nav_bottom_icon.active svg path, .header__nav_bottom_icon:hover svg path, .header__nav_bottom_icon:focus svg path, .header__nav_bottom_icon:active svg path {
  fill: var(--purple);
}

.header__nav_bottom_socials {
  width: 50%;
}

.header__nav_bottom_head {
  margin: 0 0 30px;
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--page-text);
}

.header__nav_bottom_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.header__nav_bottom_link {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--page-text);
}

.header__nav_burger_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.header__nav_burger {
  position: absolute;
  top: 33px;
  right: 33px;
  z-index: 1;
}

/* end header__nav */

/* start header__consultation */

.header__consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  flex-direction: column;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background: var(--page-bg);
  z-index: 99;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.header__consultation::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.header__consultation::-webkit-scrollbar-thumb {
  display: none;
  width: 0px;
  background: var(--page-text);
}

.header__consultation.active {
  visibility: visible;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.header__consultation_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1800px;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
}

.header__consultation_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__consultation_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.header__consultation_say {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__consultation_head {
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: var(--page-text);
}

.header__consultation_desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.header__consultation_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__consultation_tel {
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: var(--page-text);
}

.header__consultation_mail {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--page-text);
}

.header__forms_form {
  width: 40%;
  max-width: 387px;
}

.header__forms_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
	padding: 40px 50px 0;
}

.header__forms_header img {
  width: 128px;
  height: 30px;
	margin: 0 0 40px;
}

.header__forms_form_control {
  margin: 0 0 13px;
  padding: 0 0 17px;
	position: relative;
  overflow: hidden;
}

.header__forms_form_control small {
  height: 12px;
  margin: 5px 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
  font-family: var(--lato);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
	color: var(--error);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
}

.header__forms_form_control.error small {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}

.header__form_button {
  width: 100%;
  margin: 30px 0 0;
  color: var(--page-bg);
  background-color: var(--page-text);
}

.dark .header__form_button {
  color: var(--page-text);
  background-color: var(--page-bg);
}

.header__form_policy {
  margin: 10px 0 0;
  font-size: 8px;
  font-weight: 400;
  line-height: 11px;
  color: var(--page-text);
}

.header__forms_form_input {
  width: 100%;
  height: 43px;
  padding: 14px 10px 10px 0;
  display: block;
  border: none;
  color: var(--page-text);
  background: transparent;
  border-bottom: 1px solid var(--gray-border);
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.header__forms_form_input::placeholder {
  color: var(--gray-border);
}

.header__forms_form_input:focus {
  outline: none;
}

.header__forms_form_bar {
  display: block;
  position: relative;
  bottom: 0;
}

.header__forms_form_bar:before, .header__forms_form_bar:after {
  content: '';
  height: 1px;
  width: 0;
  position: absolute;
  bottom: 0;
  background: var(--purple);
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.header__forms_form_bar:before {
  left:50%;
}

.header__forms_form_bar:after {
  right: 50%;
}

.header__forms_form_input:focus ~ .header__forms_form_bar:before,.header__forms_form_input:focus ~ .header__forms_form_bar:after {
  width: 50%;
}

.header__forms_form_control.error .header__forms_form_input {
  border-bottom: 1px solid var(--error);
}

.header__forms_form_control.success .header__forms_form_input {
  border-bottom: 1px solid var(--green);
}

.header__form_name {
  margin: 0 0 5px;
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--gray-border);
}

.header__forms_form_border {
  width: 100%;
  height: 37px;
  display: block;
  position: relative;
  top: -37px;
  z-index: 0;
}

.header__select_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px;
  flex-wrap: wrap;
}

.header__select {
  position: relative;
  width: 100%;
}

.header__select_name {
  margin: 0 0 5px;
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--page-text);
}

.header__select_selected_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: space-between;
  color: var(--page-text);
  background: var(--page-bg);
  border: none;
  border-bottom: 1px solid var(--gray-border);
  cursor: pointer;
}

.header__select_selected-title, .header__select_list_item {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--page-text);
}

.header__select_arrow {
  width: 30px;
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
}

.header__select_arrow {
  stroke: var(--page-text);
}

.header__select_arrow_rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.header__select_list {
  width: 100%;
  max-height: 0;
  -webkit-transition: max-height 0.2s linear;
  -moz-transition: max-height 0.2s linear;
  -ms-transition: max-height 0.2s linear;
  -o-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
  position: absolute;
  top: 42px;
  z-index: 1;
  overflow: auto;
  border: 1px solid transparent;
}

.header__select_list_opened {
  max-height: 200px;
  border-color: var(--gray-border);
}

.header__select_list::-webkit-scrollbar {
  display: none;
}

.header__select_list::-webkit-scrollbar-thumb {
  display: none;
}

.header__select_list_item {
  padding: 10px 20px;
  color: var(--page-bg);
  border-bottom: 1px solid var(--gray-border);
  background: var(--page-text);
  cursor: pointer;
}

.header__select_list_item:hover {
  color: var(--page-bg);
  background: var(--purple);
}

.header__select_input {
  display: none;
}

.header__consultation_burger_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.header__consultation_burger {
  position: absolute;
  top: 33px;
  right: 33px;
  z-index: 1;
}

/* end header__consultation */

/* start digital */

.digital__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 60px 0 0;
  justify-content: space-between;
  position: relative;
}

.digital__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 200px 99px 173px;
  align-items: flex-end;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
  overflow: hidden;
}

.digital__empty {
  width: 60px;
  flex: 0 0 auto;
  border-bottom: 1px solid var(--gray-border);
  position: absolute;
  bottom: 0;
  right: 0;
}

.digital__head {
  width: 905px;
  flex: 0 0 auto;
  font-size: 92px;
  font-weight: 800;
  line-height: 112px;
  color: var(--page-text);
}

.digital__head span {
  overflow: hidden;
}

.digital__desc {
  width: 473px;
  flex: 0 0 auto;
  font-family: var(--lato);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: var(--page-text);
  -webkit-transform: translate(-188px, -48px);
  -moz-transform: translate(-188px, -48px);
  -ms-transform: translate(-188px, -48px);
  -o-transform: translate(-188px, -48px);
  transform: translate(-188px, -48px);
}

.digital__anyera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 auto;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.digital__anyera_name {
  margin: 47px 0 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  writing-mode: vertical-rl;
  color: var(--page-text);
}

/* end digital */

/* start showreel */

.showreel__block {
  min-height: 272px;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.showreel__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 284px 0 0;
  justify-content: flex-end;
}

.showreel__button {
  -webkit-transform: translateY(-100px) rotate(-23.91deg);
  -moz-transform: translateY(-100px) rotate(-23.91deg);
  -ms-transform: translateY(-100px) rotate(-23.91deg);
  -o-transform: translateY(-100px) rotate(-23.91deg);
  transform: translateY(-100px) rotate(-23.91deg);
}

.showreel__button:hover {
  -webkit-transform: translateY(-100px) rotate(0deg);
  -moz-transform: translateY(-100px) rotate(0deg);
  -ms-transform: translateY(-100px) rotate(0deg);
  -o-transform: translateY(-100px) rotate(0deg);
  transform: translateY(-100px) rotate(0deg);
}

/* end showreel */

/* start development */

.development__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.development__left {
  width: 100%;
  border-right: 1px solid var(--gray-border);
}

.development__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 565px;
  align-items: center;
}

.development__left, .development__right {
  padding: 120px 100px;
}

.development__head {
  font-size: 40px;
  font-weight: 800;
  line-height: 49px;
  color: var(--page-text);
}

.development__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 0;
  gap: 60px;
}

.development__item, .development__item a, .development__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.development__desc strong, .development__desc b  {
  font-family: var(--lato);
  font-weight: 400;
  color: var(--page-text);
}

.development__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0 0;
  align-items: center;
  gap: 30px;
}

.development__button {
  padding: 14.5px 43.5px;
}

.development__buttons_desc {
  font-family: var(--lato);
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  color: var(--page-text);
}

/* end development */

/* start design */

.design .development__block {
  flex-direction: row-reverse;
}

.design .development__left {
  width: 100%;
  border-right: 0;
  border-left: 1px solid var(--gray-border);
}

.design .development__right {
  width: 100%;
  max-width: 654px;
}

/* end design */

/* start design */

.analytics__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: stretch;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.analytics__info {
  width: 100%;
  min-width: 655px;
  max-width: 50%;
  padding: 120px 100px;
}

.analytics__info:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: auto;
  flex-direction: column;
  justify-content: center;
}

.analytics__info:not(:last-child) {
  border-right: 1px solid var(--gray-border);
}

.analytics__head {
  margin: 0 0 60px;
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: var(--page-text);
}

.analytics__item:not(:last-child) {
  margin: 0 0 30px;
}

.analytics__item, .analytics__item a {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.analytics__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.analytics__desc strong, .analytics__desc b {
  font-family: var(--lato);
  font-weight: 400;
  color: var(--page-text);
}

.analytics__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.analytics__button {
  margin: 46px auto 0;
  padding: 14.5px 46px;
}

/* end design */

/* start publications */

.publications__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.publications__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.333%;
  padding: 100px;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-border);
}

.publications__info:first-child {
  justify-content: flex-start;
}

.publications__info:last-child {
  justify-content: center;
}

.publications__info:not(:nth-child(3n)) {
  border-right: 1px solid var(--gray-border);
}

.publications__info:nth-last-child(1), .publications__info:nth-last-child(2), .publications__info:nth-last-child(3) {
  border-bottom: 0;
}

.publications__head {
  margin: 0 0 40px;
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: var(--page-text);
}

.publications__heading {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--page-text);
}

.publications__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.publications__button {
  margin: 0 auto;
  padding: 14.5px 46.5px;
}

.publications__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.publications__hashtag {
  font-size: 6px;
  font-weight: 500;
  line-height: 7px;
  color: var(--page-text);
}

.publications__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.publications__date {
  margin: 20px 0 0;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: var(--page-text);  
}

/* end publications */

/* start projects */

.projects__list {
  -moz-column-count: 2;
  column-count: 2;
  gap: 0;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.projects__head {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  color: var(--page-text);
}

.projects__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.projects__item {
  width: 100%;
  padding: 57px 100px 51px;
  border-bottom: 1px solid var(--gray-border);
  background-color: var(--page-bg);
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.projects__item:hover .projects__tag, .projects__item:hover .projects__tag a, .projects__item:hover .projects__heading {
  color: var(--page-bg);
}

.dark .projects__item:hover .projects__tag, .dark .projects__item:hover .projects__tag a, .dark .projects__item:hover .projects__heading {
  color: var(--page-text);
}

.projects__item:hover .projects__description, .projects__item:hover .projects__link, .projects__item:hover .projects__link:hover {
  color: var(--page-bg);
}

.dark .projects__item:hover .projects__description, .dark .projects__item:hover .projects__link, .dark .projects__item:hover .projects__link:hover {
  color: var(--page-text);
}

.projects__item:hover .projects__hover img {
  opacity: 0;
  z-index: 0;
}

.projects__item:nth-child(2):hover {
  background-color: var(--gray);
}

.projects__item:nth-child(3):hover {
  background-color: var(--aquamarine);
}

.projects__item:nth-child(4):hover {
  background-color: var(--blue);
}

.projects__item:nth-child(5):hover {
  background-color: var(--red);
}

.projects__item:nth-child(6):hover {
  background-color: var(--cherry);
}

.projects__item:nth-child(7):hover {
  background-color: var(--dark-blue);
}

.projects__item:first-child, .projects__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  flex-direction: column;
  gap: 40px;
}

.projects__item:nth-child(1), .projects__item:nth-child(2), .projects__item:nth-child(3), .projects__item:nth-child(4) {
  border-right: 1px solid var(--gray-border);
}

.projects__item:last-child, .projects__item:nth-child(4) {
  border-bottom: none;
}

.projects__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px;
  flex-wrap: wrap;
  gap: 40px;
}

.projects__tag, .projects__tag a {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: var(--page-text);
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.projects__heading {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--page-text);
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.projects__hover {
  width: 100%;
  height: 100%;
  position: relative;
}

.projects__hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.projects__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 40px;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--page-bg);
  z-index: 0;
}

.projects__description {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: transparent;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -ms-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.projects__link, .projects__link:hover, .projects__link:focus, .projects__link:active {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: transparent;
}

.project__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project__button {
  margin: 0 auto;
  padding: 14.5px 47.5px;
}

/* end projects */

/* start say */

.say__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 60px 0 0;
  position: relative;
}

.say__public {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 auto;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.say__public_name {
  margin: 0 0 91px;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  writing-mode: vertical-rl;
  color: var(--page-text);
}

.say__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 88px 100px 50px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
}

.say__head {
  margin: 0 0 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: var(--page-text);
}

.say__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

/* end say */

/* start 404 */

.error_page {
  position: relative;
}

.error__page_close {
  position: absolute;
  top: 33px;
  right: 33px;
}

.error_page__close {
  position: absolute;
  top: 33px;
  right: 33px;
  z-index: 1;
}

.error_page__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: calc(100vh - 60px);
  padding: 120px 100px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
}

.error_page__width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 945px;
  flex-direction: column;
  gap: 60px;
}

.error_page__head {
  font-size: 200px;
  font-weight: 800;
  line-height: 244px;
  color: var(--page-text);
}

.error_page__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.error_page__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 521px;
  flex-direction: column;
  gap: 20px;
}

.error_page__heading {
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: var(--page-text);
}

.error_page__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

/* end 404 */

/* start breadcrumbs */

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 100px;
  flex-wrap: wrap;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
}

.breadcrumbs_two__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs__item:not(:last-child):after, .breadcrumbs_two__item:not(:last-child):after {
  content: "/";
  margin: 0 10px;
  font-family: var(--lato);
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.breadcrumbs__item, .breadcrumbs__link, .breadcrumbs_two__item, .breadcrumbs_two__link {
  font-size: 12px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

/* end breadcrumbs */

/* start publication */

.publication__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 100px 40px;
  flex-direction: column;
  gap: 50px;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
}

.publication__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.publication__hashtag {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.publication__head {
  margin: 0 0 50px;
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: var(--page-text);
}

.publication__image {
  width: 100%;
  height: 700px;
}

.publication__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.publication__desc {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: var(--page-text);
}

.publication__date {
  margin: 50px 0 0;
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

/* end publication */

/* start public */

.public__block {
  -moz-column-count: 2;
  column-count: 2;
  gap: 0;
  border-right: 1px solid var(--gray-border);
  border-left: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.public__info {
  display: inline-flex;
  width: 100%;
  padding: 100px;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  border-bottom: 1px solid var(--gray-border);
  background-color: var(--page-bg);
}

.public__info:nth-child(1), .public__info:nth-child(2), .public__info:nth-child(3), .public__info:nth-child(4), .public__info:nth-child(5) {
  border-right: 1px solid var(--gray-border);
}

.public__info:nth-child(5) {
  border-bottom: none;
}

.public__info:last-child {
  border-bottom: none;
}

.public__info:first-child {
  padding: 100px 100px 82px;
  gap: 40px;
}

.public__info:last-child {
  justify-content: center;
  align-items: center;
}

.public__head {
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  color: var(--page-text);
}

.public__info_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.public__info_flex .header__select {
  width: auto;
  flex: 0 0 auto;
}

.public__info_flex .header__select_selected_item {
  border-bottom: none;
}

.public__hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.public__hashtag {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: var(--page-text);
}

.public__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.public__info:first-child .public__desc {
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.public__heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--page-text);
}

.public__desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--page-text);
}

.public__date {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: var(--page-text);
}

/* end public */

/* start footer */

.footer {
  flex: 0 0 auto;
}

.footer__production {
  padding: 0 100px 88px;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 66.666%;
  padding: 50px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer__item_head {
  margin: 0 0 10px;
}

.footer__item_head, .footer__item_head .footer__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: var(--page-text);
}

.footer__item, .footer__link {
  font-size: 14px;
  font-weight: 100;
  line-height: 28px;
  color: var(--page-text);
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer__left, .footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer__right {
  max-width: 790px;
  gap: 20px;
}

.footer__copyright, .footer__privacy {
  font-size: 12px;
  font-weight: 300;
  line-height: 19px;
  color: var(--page-text);
}

.footer__button {
  padding: 14px 51px;
  background-color: var(--page-text);
  color: var(--page-bg);
}

.dark .footer__button:hover, .dark .footer__button:focus, .dark .footer__button:active {
  color: var(--page-bg);
  background-color: var(--purple);
  border: 1px solid var(--purple);
}

/* end footer */

/* start services */

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  flex-direction: column;
  position: relative;
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.services__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 100px 0;
  flex-direction: column;
  gap: 60px;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.services__info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
  overflow: hidden;
}

.services__empty, .services__empty_two {
  width: 60px;
  flex: 0 0 auto;
  border-bottom: 1px solid var(--gray-border);
}

.services__head {
  font-size: 92px;
  font-weight: 700;
  line-height: 112px;
  color: var(--page-text);
}

.services__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  color: var(--page-text);
}

.services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 50px;
  border-left: 1px solid var(--gray-border);
  border-right: 1px solid var(--gray-border);
  border-bottom: 1px solid var(--gray-border);
}

.services__flex_new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 88px 100px;
  justify-content: space-between;
  gap: 50px;
}

.services__right, .services__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  gap: 50px;
}

.services__left {
  flex-direction: column;
}

.services__right {
  align-items: center;
}

.services__heading, .services__heading_new {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  color: var(--page-text);
}

.services__heading_new {
  display: none;
}

.services__description {
  max-width: 655.5px;
  font-family: var(--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--page-text);
}

.services__buttons, .services__buttons_new {
  margin: 25px 0 0;
}

.services__buttons_new {
  display: none;
}

.services__right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 15px);
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.services__item, .services__link {
  font-family: var(--lato);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--page-text);
}

/* end services */

/* start media */

@media (max-width: 1919px) {
  .digital__info {
    padding: 200px 60px 143px;
  }
  .development__left, .development__right, .analytics__info {
    padding: 120px 60px;
  }
  .projects__item:first-child, .projects__item:last-child, .publications__info {
    padding: 100px 60px;
  }
  .projects__item {
    padding: 88px 60px 50px;
  }
  .say__block {
    padding: 88px 60px 50px;
  }
  .footer__production {
    padding: 0 60px 88px;
  }
  .development__right {
    max-width: 359px;
  }
  .design .development__right {
    max-width: 35%;
  }
  .analytics__info {
    max-width: 35%;
    min-width: 35%;
  }
  .showreel__circle {
    margin: 0 80px 0 0;
  }
  .publication__image {
    height: 560px;
  }
  .publication__block {
    padding: 40px 60px 40px;
  }
  .breadcrumbs__list {
    padding: 40px 60px;
  }
  .public__info {
    padding: 100px 60px 96px;
  }
  .public__info:first-child {
    padding: 100px 60px 78px;
  }
  .services__info {
    padding: 40px 60px 0;
  }
  .services__description {
    max-width: 488px;
  }
}
@media (max-width: 1415px) {
  .digital__info {
    flex-direction: column;
    align-items: flex-start;
  }
  .digital__head {
    width: 100%;
  }
  .digital__desc {
    margin: 30px 0 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@media (max-width: 1199px) {
  .header__anchor {
    display: none;
  }
  .digital__info {
    padding: 200px 0 130px 30px;
  }
  .digital__head {
    font-size: 80px;
    line-height: 98px;
  }
  .showreel__block {
    min-height: 202px;
  }
  .development__block {
    flex-direction: column;
  }
  .development__left, .development__right, .analytics__info {
    padding: 120px 40px;
  }
  .development__left {
    border-right: none;
    border-bottom: 1px solid var(--gray-border);
  }
  .design .development__block {
    flex-direction: column;
  }
  .analytics__block {
    flex-wrap: wrap;
  }
  .analytics__info:not(:last-child) {
    width: 50%;
    min-width: 50%;
    border-right: none;
    border-bottom: 1px solid var(--gray-border);
  }
  .analytics__info:last-child {
    width: 100%;
    max-width: 100%;
  }
  .design .development__right {
    max-width: 100%;
  }
  .projects__item:first-child, .projects__item:last-child, .publications__info {
    padding: 100px 40px;
  }
  .projects__item {
    padding: 57px 30px 81px;
  }
  .publications__info {
    width: 50%;
  }
  .publications__info:not(:nth-child(3n)) {
    border-right: none;
  }
  .publications__info:not(:nth-child(2n)) {
    border-right: 1px solid var(--gray-border);
  }
  .say__block {
    padding: 88px 40px 50px;
  }
  .footer__navigation {
    max-width: 100%;
    padding: 0 0 50px;
  }
  .footer__production {
    padding: 0 40px 88px;
  }
  .footer__right {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 10px;
  }
  .publication__image {
    height: 380px;
  }
  .publication__block {
    padding: 40px 40px 40px;
  }
  .breadcrumbs__list {
    padding: 40px 40px;
  }
  .public__block {
    -moz-column-count: 1;
    column-count: 1;
    border-right: 1px solid var(--gray-border);
    border-bottom: none;
  }
  .public__info {
    padding: 100px 40px 100px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--gray-border);
  }
  .public__info:first-child {
    padding: 40px 40px 82px;
  }
  .public__info:last-child {
    border-bottom: none;
  }
  .public__head {
    font-size: 46px;
    line-height: 56px;
  }
  .public__info:nth-child(1), .public__info:nth-child(2), .public__info:nth-child(3), .public__info:nth-child(4), .public__info:nth-child(5) {
    border-right: none;
  }
  .public__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    column-count: auto;
    -moz-column-count: auto;
  }
  .public__info {
    width: 50%;
  }
  .public__info:nth-child(5), .public__info:last-child {
    border-bottom: 1px solid var(--gray-border);
  }
  .public__info:nth-child(2n) {
    border-left: 1px solid var(--gray-border);
  }
  .services__description {
    max-width: 100%;
  }
  .services__info {
    padding: 40px 40px 0;
  }
  .services__flex {
    padding: 88px 40px;
    flex-direction: column;
  }
  .services__flex_new {
    padding: 0;
    gap: 20px;
  }
  .services__heading_new {
    display: block;
  }
  .services__heading {
    display: none;
  }
  .services__list {
    gap: 20px;
  }
  .services__right {
    align-items: flex-start;
  }
}

@media (max-width: 959px) {
  .container {
    padding: 0 40px;
  }
  .header__container, .public__container, .services__container {
    padding: 0;
  }
  .publication__image {
    height: 280px;
  }
  .publication__block {
    padding: 40px 0 40px;
    border-left: none;
    border-right: none;
  }
  .say__block {
    padding: 88px 0 50px;
    border-left: none;
    border-right: none;
  }
  .footer__production {
    padding: 0 0 88px;
    border-left: none;
    border-right: none;
  }
  .footer__copyright, .footer__privacy {
    font-size: 10px;
    line-height: 19px;
  }
  .breadcrumbs__list {
    padding: 40px 0;
    border-left: none;
    border-right: none;
  }
  .public__block {
    border-right: none;
    border-left: none;
  }
  .public__info {
    width: 100%;
    padding: 50px 40px 50px;
  }
  .public__info:nth-child(2n) {
    border-left: none;
  }
  .public__info:last-child {
    border-bottom: none;
  }
  .public__info:first-child {
    padding: 40px 40px 82px;
  }
  .public__flex {
    gap: 20px;
  }
  .public__desc, .public__info:first-child .public__desc {
    font-size: 14px;
    line-height: 17px;
  }
  .public__date {
    font-size: 8px;
    line-height: 10px;
  }
  .services__empty, .services__empty_two {
    display: none;
  }
  .services__flex {
    border-left: none;
    border-right: none;
  }
  .services__head {
    font-size: 54px;
    line-height: 66px;
  }
  .services__info_block {
    gap: 38px;
  }
  .services__info {
    padding: 20px 40px 0;
  }
  .services__desc {
    font-size: 14px;
  }
  .services__heading, .services__heading_new {
    font-size: 32px;
    line-height: 56px;
  }
  .services__description {
    font-size: 14px;
    line-height: 25px;
  }
  .services__item, .services__link {
    font-size: 12px;
    line-height: 25px;
  }
}

@media (max-width: 639px) {
  .container {
    padding: 0 20px;
  }
  .header__container, .public__container, .services__container {
    padding: 0;
  }
  .publication__block {
    padding: 20px 0 20px;
    gap: 30px;
  }
  .publication__image {
    height: 220px;
  }
  .publication__hashtag {
    font-size: 14px;
    line-height: 17px;
  }
  .publication__head {
    margin: 0 0 20px;
    font-size: 40px;
    line-height: 49px;
  }
  .publication__desc {
    font-size: 18px;
    line-height: 22px;
  }
  .publication__date {
    font-size: 14px;
    line-height: 17px;
  }
  .button__circle {
    width: 150px;
    height: 150px;
  }
  .say__block {
    padding: 52px 0 30px;
  }
  .say__head {
    margin: 0 0 10px;
    font-size: 26px;
    line-height: 32px;
  }
  .say__desc {
    font-size: 14px;
    line-height: 17px;
  }
  .button__circle_text {
    font-size: 16px;
    line-height: 20px;
  }
  .footer__production {
    padding: 0 0 52px;
  }
  .footer__info {
    flex-direction: column;
    gap: 30px;
  }
  .footer__right {
    align-items: flex-start;
    gap: 30px;
  }
  .footer__button {
    width: 100%;
  }
  .footer__copyright, .footer__privacy {
    font-size: 8px;
  }
  .breadcrumbs__list {
    padding: 20px 0;
  }
  .breadcrumbs__item, .breadcrumbs__link {
    font-size: 10px;
    line-height: 19px;
  }
  .public__head {
    font-size: 36px;
    line-height: 44px;
  }
  .public__buttons, .public__button {
    width: 100%;
  }
  .public__heading {
    font-size: 14px;
    line-height: 17px;
  }
  .public__info:first-child {
    padding: 20px 20px 50px;
  }
  .public__info {
    padding: 50px 20px 50px;
  }
  .services__buttons {
    display: none;
  }
  .services__buttons_new {
    display: block;
  }
  .services__button {
    width: 100%;
  }
  .services__flex_new {
    flex-direction: column;
  }
  .services__left, .services__right {
    width: 100%;
  }
  .services__flex {
    padding: 52px 20px;
    flex-direction: column;
    gap: 20px;
  }
  .services__list {
    gap: 10px;
  }
  .services__info {
    padding: 20px 20px 0;
    gap: 20px;
  }
  .services__info_block {
    padding: 10px 0;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
  }
  .services__head {
    font-size: 40px;
    line-height: 49px;
  }
  .services__desc {
    font-size: 12px;
  }
  .services__heading, .services__heading_new {
    font-size: 28px;
    line-height: 56px;
  }
}

@media (max-width: 479px) {
  .say__block {
    flex-direction: column;
    gap: 50px;
  }
  .footer__copyright, .footer__privacy {
    font-size: 7px;
  }
  .breadcrumbs__item, .breadcrumbs__link {
    line-height: 12px;
  }
  .say__block {
    align-items: flex-start;
  }
  .say__right {
    width: 100%;
  }
  .say__button {
    margin: 0 auto;
  }
  .public__info_flex {
    gap: 10px;
  }
  .header__project {
    display: none;
  }
}